html, body {
    margin: 0;
    padding: 0;
    background: #0d292b;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.container {
    width: 600px;
    height: 600px;
    position: relative;
}
#score {
    position: absolute;
    bottom: 0;
    left: 20px;
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: .8em;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    background: #194447;
    border-radius: 8px;
}

.grid div {
    width: 40px;
    height: 40px;
    box-sizing: border-box
}

.shooter {
    box-sizing: border-box;
    width: 0; 
    height: 0; 
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 20px solid rgb(175, 164, 238);
}

.invader { 
    background: url('invader.svg');
}

.boom {
    background: red;
    -webkit-mask-image: url('invader.svg');
    mask-image: url('invader.svg');
}

.laser {
    background-color: rgb(175, 164, 238);
    border-left: 16px solid #194447;
    border-right: 16px solid #194447;
    box-sizing: border-box;   
}